<div>
  <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
    <div>
      <table> 
        <th>
          Selected season: {{selectedSeason}}
        </th>
        <th>
          Selected stat: {{selectedStat}}
        </th>
        <th></th>
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <div>
                <mat-label>Season</mat-label>
              </div>
              <select matNativeControl [(ngModel)]="selectedSeason" name="season">
                <option value="" selected></option>
                <option *ngFor="let season of seasonSelectionList" [value]="season.value">
                  {{season.viewValue}}
                </option>
              </select>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field appearance="fill" hideRequiredMarker>
              <div>
                <mat-label>Stats</mat-label>
              </div>
              <select matNativeControl required [(ngModel)]="selectedStat" name="stat">
                <option value="" selected></option>
                <option *ngFor="let stat of statSelectionList" [value]="stat.value">
                  {{stat.viewValue}}
                </option>
              </select>
            </mat-form-field>
          </td>
          <td>
            <button type="submit" mat-raised-button color="primary">Submit</button>
          </td>
        </tr>
      </table>
    </div>

    <div echarts [options]="chartOption" class="demo-chart" (chartInit)="onChartInit($event)"></div>
    
    <!-- <div>
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let stat of (array$ | async)">
            <td>{{ stat.StatAvg }}</td>
            <td>{{ stat.StatMax }}</td>
            <td>{{ stat.StatDate | date:'MM-yyyy' }}</td>
            <td>{{ stat.StatName }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->

  </form>
</div>