<h2>Player List</h2>
<!-- <ul class="players">
  <li *ngFor="let player of players"
    [class.selected]="player === selectedPlayer"
    (click)="onSelect(player)">
    <span class="badge">{{player.ID}}</span> {{player.FirstName}} {{player.LastName}}
  </li>
</ul> -->

<table mat-table [dataSource]="dsTable">
  <!-- Player ID Column -->
  <ng-container  matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let player"> {{player.ID}}</td>
  </ng-container>

  <!-- Player Team ID Column -->
  <ng-container  matColumnDef="teamId">
    <th mat-header-cell *matHeaderCellDef>Team ID</th>
    <td mat-cell *matCellDef="let player">{{player.TeamID}}</td>
  </ng-container>

  <!-- Player First Name Column -->
  <ng-container  matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let player">{{player.FirstName}}</td>
  </ng-container>

  <!-- Player Last Name Column -->
  <ng-container  matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let player">{{player.LastName}}</td>
  </ng-container>

  <!-- Player Position Column -->
  <ng-container  matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let player">{{player.Position}}</td>
  </ng-container>

  <!-- Player Height(ft) Column -->
  <ng-container  matColumnDef="heightFeet">
    <th mat-header-cell *matHeaderCellDef>Height(ft)</th>
    <td mat-cell *matCellDef="let player">{{player.HeightFeet}}</td>
  </ng-container>

  <!-- Player Height(in) Column -->
  <ng-container  matColumnDef="heightInches">
    <th mat-header-cell *matHeaderCellDef>Height(in)</th>
    <td mat-cell *matCellDef="let player">{{player.HeightInches}}</td>
  </ng-container>

  <!-- Player Weight(lbs) Column -->
  <ng-container  matColumnDef="weightPounds">
    <th mat-header-cell *matHeaderCellDef>Weight(lbs)</th>
    <td mat-cell *matCellDef="let player">{{player.WeightPounds}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
[pageSize]="5" 
[pageSizeOptions]="[5, 10, 25, 100]"
showFirstLastButtons>
</mat-paginator>

<div *ngIf="selectedPlayer">
  <h2>{{selectedPlayer.LastName | uppercase}} Details</h2>
  <div><span>ID: </span>{{selectedPlayer.ID}}</div>
  <div>
    <label for="player-name">Player name: </label>
    <input id="player-name" [(ngModel)]="selectedPlayer.LastName" placeholder="name">
  </div>
</div>



