<div>
    <h1 class='title'>{{title}}</h1>
</div>

<!-- our menu goes here -->
<div class="split left">
    <div class='centered_horizontal'>
        <mat-toolbar>
            <mat-toolbar-row>
                <button class="button" (click)="LoadComponent('Players');">Players</button>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button class="button" (click)="LoadComponent('Teams');">Teams</button>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button class="button" (click)="LoadComponent('Games');">Games</button>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button class="button" (click)="LoadComponent('GameStats');">GameStats</button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>

<div class="split right">

    <div *ngIf='loadPlayersComponent'>
        <app-players></app-players>
    </div>

    <div *ngIf='loadTeamsComponent'>
        <app-team-list></app-team-list>
    </div>

    <div *ngIf='loadGamesComponent'>
        <app-game-list></app-game-list>
    </div>

    <div *ngIf='loadGameStatsComponent'>
        <app-game-stats></app-game-stats>
    </div>

</div>