/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 10;
  overflow-x: hidden;
  padding-top: 15px;
}

/* Control the left side */
.left {
  left: 0;
  width: 13%;
  background-color:lightblue;
  margin: 0;
  padding-top: 15px;
}

/* Control the right side */
.right {
  right: 0;
  padding-left: 30px;
  width: 87%;
  background-color:lightgreen;
  overflow: auto;
  white-space: nowrap;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered_horizontal {
  position: absolute;
  margin-top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  text-align: center;
  margin: 0px;
}

.component-title {
  margin: 5px;
  text-align: center;
}

.button {
  opacity: 5;
  background-color: transparent;
  border: none;
  color: none;
  padding: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  // cursor: pointer;
}

.component-display {
  overflow: auto;
}