<h1>{{title}}</h1>

<div class="split left">
    <div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>HTML</button>
            <button mat-menu-item>CSS</button>
            <button mat-menu-item>JQuery</button>
            <button mat-menu-item>Bootstrap</button>
            <button mat-menu-item>Angular</button>
            <button mat-menu-item>React.js</button>
          </mat-menu>
    </div>
  </div>
  
  <div class="split right">
    <div>
        
    </div>
  </div>
 
<!-- <app-players></app-players> -->
<!-- <app-team-list></app-team-list> -->
<!-- <app-game-list></app-game-list>  -->